body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(75, 192, 128);
    color: white;
    margin: 0;
    padding: 20px;
}

#container {
    background-color: rgb(75, 192, 128);

    text-align: center;
    padding: 20px;
}

#input_user {
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: rgb(212, 207, 207);
    color: black;
    font-size: 16px;
}

button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: white;
    color:rgb(75, 192, 128);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: hsla(147, 43%, 30%, 0.253);
}

#showmorebtn {
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: rgb(75, 192, 128);
    color: rgb(252, 250, 250);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px auto 100px;
    display: none;
}

#search_result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap :40px;
}

#search_result img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}



footer {
    display: none;
    background-color:rgb(75, 192, 128);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #f1f3f5;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

